matplotlib==3.9.4
molvs==0.1.1
numpy==2.2.2
pandas==2.2.3
rdkit==2024.09.1
scikit-learn==1.5.2
streamlit==1.41.1
streamlit-ketcher
catboost==1.2.10
joblib
padelpy
smiles-rnn
molscore
useful-rdkit-utils
torch
